@import "tailwindcss";

@font-face {
  font-family: 'Satoshi';
  src: url('./fonts/Satoshi-Variable.woff2') format('woff2'),
       url('./fonts/Satoshi-Variable.woff') format('woff'),
       url('./fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

/* ALTERAÇÃO AQUI: Adicionei ', #app' ao seletor */
body, #app {
    font-family: 'Satoshi', sans-serif;
}